<div class="container display-flex content-center">
    <div class="order-confirm">
        <i class="fa-solid fa-circle-xmark order-failed"></i>
        <h1>
            Đã có lỗi xảy ra trong quá trình đặt hàng !
        </h1>
        <div class="order-confirm-img">
            <img src="./assets/img/order_failed.jpg" alt="order_failed">
        </div>
        <h3>
            Có lỗi xảy ra trong quá trình đặt hàng, xin lỗi bạn vì sự bất tiện này.
        </h3>
        <p>Vui lòng tiến hành thực hiện đặt hàng lại lần nữa.</p>
        <a href="/"><button class="bestgear-button"><i class="fa-solid fa-house"></i>  Quay lại trang chủ</button></a>
    </div>
</div>