<div class="container display-flex content-center">
    <div class="order-confirm">
        <i class="fa-solid fa-circle-check order-success"></i>
        <h1>
            Đặt hàng thành công !
        </h1>
        <div class="order-confirm-img">
            <img src="./assets/img/order_confirm.jpg" alt="order_confirm">
        </div>
        <h3>
            Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi
        </h3>
        <p>Mã đơn hàng của bạn là <span class="order-id">{{orderId}}</span> </p>
        <p>Để theo dõi đơn hàng bạn có thể xem tại mục <a href="/order/detail/{{orderId}}">Trạng thái đơn hàng</a></p>
        <a href="/"><button class="bestgear-button"><i class="fa-solid fa-house"></i>  Quay lại trang chủ</button></a>
    </div>
</div>