<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive_home.css">
    <link rel="stylesheet" href="/css/cart.css"
    <link rel="stylesheet" href="/css//detail_style.css">

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header-main">
                <a class="header-logo" href="/">
                    <img class="img-fluid" src="/assets/img/logo_not_slogan.png">
                    <img class="img-fluid" src="/assets/img/logo.png">
                </a>
                <div class="header-search">
                    <form action="">
                        <div class="input-group">
                            <button class="btn btn-outline-secondary" type="submit"><i
                                    class="fas fa-search"></i></button>
                            <input class="form-control" type="text" placeholder="Nhập từ khóa tìm kiếm" name="keyword">
                        </div>
                    </form>
                </div>
                <div class="header-control">
                    <div class="announce">
                        <a href="">
                            <div class="icon">
                                <i class="fa-solid fa-bell"></i>
                            </div>
                            <div class="text">
                                Thông báo
                            </div>
                        </a>
                    </div>
                    <div class="cart">
                        <a href="">
                            <div class="icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span class="cart-number">0</span>
                            </div>
                            <div class="text">
                                Giỏ hàng
                            </div>
                        </a>
                    </div>
                    <div class="login">
                        <a href="#">
                            <label for="nav-input" class="icon">
                                <i class="fa-regular fa-circle-user"></i>
                            </label>
                            <div class="text">
                                Đăng nhập
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <ul class="menu-main">

        <div class="container">
            <label for="nav-input" class="menu-bar-tablet"><i class="fa-solid fa-bars"></i></label>
            <li class="menu-main__item">Trang chủ</li>
            <li class="menu-main__item">Sản phẩm</li>
            <li class="menu-main__item">Khuyến mại</li>
            <li class="menu-main__item">Liên hệ</li>
        </div>
    </ul>
    <!-- for Mobile -->
    <div>
        <ul class="nav__mobile__bottom">
            <label for="nav-input" class="item">
                <i class="fa-solid fa-bars"></i>
                <h4>Danh mục</h4>
            </label>
            <li class="item">
                <i class="fa-solid fa-store"></i>
                <h4>Sản phẩm</h4>
            </li>
            <li class="item active">
                <i class="fa-solid fa-house .icon"></i>
                <h4>Trang chủ</h4>
            </li>
            <li class="item">
                <i class="fa-solid fa-sack-dollar"></i>
                <h4>Khuyến mại</h4>
            </li>
            <li class="item">
                <i class="fa-solid fa-address-book"></i>
                <h4>Liên hệ</h4>
            </li>
        </ul>
    </div>

    <input type="checkbox" id="nav-input">
    <label for="nav-input" class="overlay"></label>
    <ul class="nav__mobile" title="close">
        <label for="nav-input" class="close">
            <i class="fa-solid fa-x"></i>
        </label>
        <div class="nav__content">
            <div class="branch">
                <img src="/assets/img/logo.png" alt="logo">
            </div>
            <div class="user">
                <!-- <div class="login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <p>Đăng nhập</p>
                </div>
                <div class="register">
                    <i class="fa-solid fa-user-plus"></i>
                    <p>Đăng ký</p>
                </div> -->
                <div class="logged">
                    <img src="/assets/img/avatar.png" alt="">
                    <p>Hi, <b>Nguyễn Trần Ngọc Tú</b></p>

                </div>
                <i title="Đăng xuất" class="fa-solid fa-arrow-right-from-bracket sign-out"></i>
            </div>
            <!-- <div class="nav_navbar">
                <div class="nav_navbar__title">
                    <b>Thông tin</b>
                </div>
                <ul>
                    <li class="menu-main__item">Trang chủ</li>
                    <li class="menu-main__item">Sản phẩm</li>
                    <li class="menu-main__item">Khuyến mại</li>
                    <li class="menu-main__item">Liên hệ</li>
                </ul>
            </div> -->
            <div class="menu-category">
                <div class="menu-category__title">
                    <b>Danh mục sản phẩm</b>
                </div>
                <ul>

                    <li>
                        <a href="#" class="menu-category__item" style="border-bottom:none">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-category__item" style="border-bottom:none">
                            <i class="fa-solid fa-laptop "></i>
                            <p>Laptop Gaming</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </ul>

    {{{body}}}

    
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
    integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/scripts.js"></script>

<script src="/js/home.js"></script>

</html>