<div class="container management-product">
    <div class="management-header">
        <div class="title">Quản lý sản phẩm</div>
        <div class="dropdown dropdown-category">
            <button class="btn btn-secondary dropdown-toggle" type="button" aria-haspopup="false"
                id="manage-product-category" data-bs-toggle="dropdown" aria-expanded="false">
                Tất cả
            </button>
            <ul class="dropdown-menu" aria-labelledby="manage-product-category">
                <li><a class="dropdown-item" href="/products/62cf524746ce695718e5703d"><i
                            class="fa-solid fa-laptop"></i> Tất cả</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> Laptop</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> Màn hình</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> Bàn phím</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> Chuột</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> Tai nghe</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> Ghế Gaming</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> PC Gaming</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> Thiết bị mạng</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-laptop"></i> Phụ kiện</a></li>
            </ul>
        </div>
    </div>
    <table class="product-list table table-striped">
        <thead>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Ảnh đại diện</th>
            <th>Giá gốc</th>
            <th>Giá khuyến mại</th>
            <th>Tồn kho</th>
            <th>Xóa sản phẩm</th>
        </thead>
        <tbody>
            <tr>
                <td data-href="/products/62cf524746ce695718e5703d">
                    <a href="/products/62cf524746ce695718e5703d" target="_blank">62ce0b11680de4477caaeca0</a>
                </td>
                <td>
                    <a class="name" href="/products/62cf524746ce695718e5703d" target="_blank">Ghế DXRACER - Drifting
                        Series
                        OH/DJ133/NR</a>
                </td>
                <td>
                    <a href="/products/62cf524746ce695718e5703d" target="_blank"><img
                            src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                            alt="photo"></a>
                </td>
                <td class="discount-price">10.000.000đ</td>
                <td class="real-price">8.000.000đ</td>

                <td>50</td>
                <td class="btn-delete">
                    {{!-- input hidden để lưu id sản phẩm trả về --}}
                    <input type="hidden" value="1">

                    <button type="button" class="btn btn-default" data-bs-toggle="modal"
                        data-bs-target="#manageProductModal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td data-href="/products/62cf524746ce695718e5703d">
                    <a href="/products/62cf524746ce695718e5703d" target="_blank">62ce0b11680de4477caaeca0</a>
                </td>
                <td>
                    <a class="name" href="/products/62cf524746ce695718e5703d" target="_blank">Ghế Tình yêu</a>
                </td>
                <td>
                    <a href="/products/62cf524746ce695718e5703d" target="_blank"><img
                            src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                            alt="photo"></a>
                </td>
                <td class="discount-price">10.000.000đ</td>
                <td class="real-price">8.000.000đ</td>

                <td>50</td>
                <td class="btn-delete">
                    {{!-- input hidden để lưu id sản phẩm trả về --}}
                    <input type="hidden" value="1">

                    <button type="button" class="btn btn-default" data-bs-toggle="modal"
                        data-bs-target="#manageProductModal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td data-href="/products/62cf524746ce695718e5703d">
                    <a href="/products/62cf524746ce695718e5703d" target="_blank">62ce0b11680de4477caaeca0</a>
                </td>
                <td>
                    <a class="name" href="/products/62cf524746ce695718e5703d" target="_blank">Ghế DXRACER - Drifting
                        Series
                        OH/DJ133/NR</a>
                </td>
                <td>
                    <a href="/products/62cf524746ce695718e5703d" target="_blank"><img
                            src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                            alt="photo"></a>
                </td>
                <td class="discount-price">10.000.000đ</td>
                <td class="real-price">8.000.000đ</td>

                <td>50</td>
                <td class="btn-delete">
                    {{!-- input hidden để lưu id sản phẩm trả về --}}
                    <input type="hidden" value="1">

                    <button type="button" class="btn btn-default" data-bs-toggle="modal"
                        data-bs-target="#manageProductModal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td data-href="/products/62cf524746ce695718e5703d">
                    <a href="/products/62cf524746ce695718e5703d" target="_blank">62ce0b11680de4477caaeca0</a>
                </td>
                <td>
                    <a class="name" href="/products/62cf524746ce695718e5703d" target="_blank">Ghế DXRACER - Drifting
                        Series
                        OH/DJ133/NR</a>
                </td>
                <td>
                    <a href="/products/62cf524746ce695718e5703d" target="_blank"><img
                            src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                            alt="photo"></a>
                </td>
                <td class="discount-price">10.000.000đ</td>
                <td class="real-price">8.000.000đ</td>

                <td>50</td>
                <td class="btn-delete">
                    {{!-- input hidden để lưu id sản phẩm trả về --}}
                    <input type="hidden" value="1">

                    <button type="button" class="btn btn-default" data-bs-toggle="modal"
                        data-bs-target="#manageProductModal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td data-href="/products/62cf524746ce695718e5703d">
                    <a href="/products/62cf524746ce695718e5703d" target="_blank">62ce0b11680de4477caaeca0</a>
                </td>
                <td>
                    <a class="name" href="/products/62cf524746ce695718e5703d" target="_blank">Ghế DXRACER - Drifting
                        Series
                        OH/DJ133/NR</a>
                </td>
                <td>
                    <a href="/products/62cf524746ce695718e5703d" target="_blank"><img
                            src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                            alt="photo"></a>
                </td>
                <td class="discount-price">10.000.000đ</td>
                <td class="real-price">8.000.000đ</td>

                <td>50</td>
                <td class="btn-delete">
                    {{!-- input hidden để lưu id sản phẩm trả về --}}
                    <input type="hidden" value="1">

                    <button type="button" class="btn btn-default" data-bs-toggle="modal"
                        data-bs-target="#manageProductModal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-container">
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="manageProductModal" tabindex="-1" aria-labelledby="manageProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa sản phẩm </p>
                    <b>Ghế DXRACER - Drifting Series OH/DJ133/NR?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Xóa</button>
                </div>
            </div>
        </div>
    </div>

</div>