{{#section 'title'}}
    <title>Liên hệ</title>
{{/section}}
{{#section 'js'}}
<link rel="stylesheet" type="text/css" href="/css/about.css" />
{{/section}}
<div class="container about_us">
    <h1 class="title">Thành viên</h1>
    <div class="member">
        <div class="member-item">
            <div class="user-pic">
                    <img src="assets/img/ourteam/Van.jpg" class="img-fluid" alt="User Pic">
                </div>
                <h4 class="name">Đỗ Đình Văn</h4>
                <h6 class="role">Web Developer</h6>
                <hr>
                <div class="desc">
                    <p><i class="fa fa-user" aria-hidden="true"></i> MSSV: 19127624</p>
                    <p><i class="fa-solid fa-book"></i> Thiết kế giao diện - 19KTPM</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Đại học Khoa học Tự Nhiên TP.HCM</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> dinhvan3111@gmail.com</p>
                </div>
                <hr>
                <div class="footer">
                    <a target="_blank" class="bg-fb" href="https://www.facebook.com/profile.php?id=100006387013405"><i class="fa-brands fa-facebook"></i></a>
                    <a target="_blank" class="bg-git" href="https://github.com/dinhvan3111"><i class="fa-brands fa-github"></i></a>
                </div>
        </div>
        <div class="member-item">
            <div class="user-pic">
                    <img src="assets/img/ourteam/Tu.jpg" class="img-fluid" alt="User Pic">
                </div>
                <h4 class="name">Nguyễn Trần Ngọc Tú</h4>
                <h6 class="role">Web Developer</h6>
                <hr>
                <div class="desc">
                    <p><i class="fa fa-user" aria-hidden="true"></i> MSSV: 19127610</p>
                    <p><i class="fa-solid fa-book"></i> Thiết kế giao diện - 19KTPM</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Đại học Khoa học Tự Nhiên TP.HCM</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> ngoctu.280801@gmail.com</p>
                </div>
                <hr>
                <div class="footer">
                    <a target="_blank" class="bg-fb" href="https://www.facebook.com/nguyentranngoctu.2808/"><i class="fa-brands fa-facebook"></i></a>
                    <a target="_blank" class="bg-git" href="https://github.com/ngoctu280801"><i class="fa-brands fa-github"></i></a>
                </div>
        </div>
        <div class="member-item">
            <div class="user-pic">
                    <img src="assets/img/ourteam/Hai.jpg" class="img-fluid" alt="User Pic">
                </div>
                <h4 class="name">Vũ Tuấn Hải</h4>
                <h6 class="role">Web Developer</h6>
                <hr>
                <div class="desc">
                    <p><i class="fa fa-user" aria-hidden="true"></i> MSSV: 19127387</p>
                    <p><i class="fa-solid fa-book"></i> Thiết kế giao diện - 19KTPM</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Đại học Khoa học Tự Nhiên TP.HCM</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> vutuanhaigk@gmail.com</p>
                </div>
                <hr>
                <div class="footer">
                    <a target="_blank" class="bg-fb" href="https://www.facebook.com/Kaitou.VuTuanHai"><i class="fa-brands fa-facebook"></i></a>
                    <a target="_blank" class="bg-git" href="https://github.com/vutuanhaigk123"><i class="fa-brands fa-github"></i></a>
                </div>
        </div>
        <div class="member-item">
            <div class="user-pic">
                    <img src="assets/img/ourteam/Duy.jpg" class="img-fluid" alt="User Pic">
                </div>
                <h4 class="name">Nguyễn Bảo Duy</h4>
                <h6 class="role">Web Developer</h6>
                <hr>
                <div class="desc">
                    <p><i class="fa fa-user" aria-hidden="true"></i> MSSV: 19127376</p>
                    <p><i class="fa-solid fa-book"></i> Thiết kế giao diện - 19KTPM</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Đại học Khoa học Tự Nhiên TP.HCM</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> nbduy2001@gmail.com</p>
                </div>
                <hr>
                <div class="footer">
                    <a target="_blank" class="bg-fb" href="https://www.facebook.com/anonymous77.54.64"><i class="fa-brands fa-facebook"></i></a>
                    <a target="_blank" class="bg-git" href="https://github.com/NBDuy201"><i class="fa-brands fa-github"></i></a>
                </div>
        </div>
        <div class="member-item">
            <div class="user-pic">
                    <img src="assets/img/ourteam/Quang.jpg" class="img-fluid" alt="User Pic">
                </div>
                <h4 class="name">Tăng Thanh Quang</h4>
                <h6 class="role">Web Developer</h6>
                <hr>
                <div class="desc">
                    <p><i class="fa fa-user" aria-hidden="true"></i> MSSV: 19127531</p>
                    <p><i class="fa-solid fa-book"></i> Thiết kế giao diện - 19KTPM</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Đại học Khoa học Tự Nhiên TP.HCM</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> thanhquangtang298@gmail.com</p>
                </div>
                <hr>
                <div class="footer">
                    <a target="_blank" class="bg-fb" href="https://www.facebook.com/profile.php?id=100008646397950"><i class="fa-brands fa-facebook"></i></a>
                    <a target="_blank" class="bg-git" href="#"><i class="fa-brands fa-github"></i></a>
                </div>
        </div>
    </div>
</div>