<h1>Example App: Home</h1>

<form action="/auth/google" method="post">
    <button type="submit"><i class="icon-mail fa fa-google"></i>Dang nhap gg</button>
</form>
<form action="/auth/facebook" method="post">
    <button type="submit"><i class="icon-fb fa fa-facebook"></i>Dang nhap Fb</button>
</form>

<h1>Add new product</h1>
<form action="/products" method="post" enctype="multipart/form-data">
    <label class="form-label"><strong>title</strong></label>
    <input type="text" name="title" id="title">
    <label class="form-label"><strong>description</strong></label>
    <input type="text" name="description" id="description">
    <label class="form-label"><strong>price</strong></label>
    <input type="number" name="price" id="price">
    <label class="form-label"><strong>stock</strong></label>
    <input type="number" name="stock" id="stock">
    <input type="hidden" name="id_category" id="id_category" value="62c95462ba0e7352fab5497d">
    <label class="form-label"><strong>sale price</strong></label>
    <input type="number" name="sale_price" id="sale_price">
    <label class="form-label"><strong>Thumbnail</strong></label>
    <input type="file" name="thumb" id="thumb" accept="image/*">
    <label class="form-label"><strong>Images</strong></label>
    <input type="file" name="imgs" id="imgs" accept="image/*" multiple>
    <button type="submit"><i class="icon-thumb fa fa-thumb"></i>Submit</button>
</form>
