/* Reset HTML */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

/* Customize */
.card {
    border: none;
}

.product-title {
    font-size: 3rem;
    font-weight: bold;
    color: #dc3545;
}

.act-price {
    color: #dc3545;
    font-weight: 700;
}

.dis-price {
    text-decoration: line-through;
}

.about {
    font-size: 1.6rem;
}

.color {
    margin-bottom: 1.6rem;
}

.btn-lg{
    font-size: 2rem;
}

.cart i {
    margin-right: 1rem;
}

/* Image slider */
.hover-img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    cursor: pointer;
}

.thumbnail{
    width: 15rem;
    height: 10rem;
}

.price-container{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
    font-size: 1.8rem;
}

.price-text {
    margin-top: 1rem;
    width: 10rem;
    display: inline-block;
}

/* Quantity */
.qty {
    width: 5rem;
}

/* Owl */
.main-img {
    height: 100%;
}

#sync1 .item {
    color: #FFF;
    text-align: center;
    height: 45rem;
}

#sync2 .item {
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

#sync2 .current .item {
    border: 0.2rem solid #DC3545;
}

.owl-theme .owl-nav [class*='owl-'] {
    /*default owl-theme theme reset .disabled:hover links */
    transition: all .3s ease;
}