/* Reset HTML */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

/* Customize */
.product-title {
    font-size: 3rem;
    font-weight: bold;
    color: #dc3545;
}

.act-price {
    color: #dc3545;
    font-weight: 700;
}

.dis-price {
    text-decoration: line-through;
}

.about {
    font-size: 2rem;
    margin-top: 0.5rem;
}

.cart .btn {
    margin-right: 1rem;
}

/* .price-container span {
    margin-top: 1rem;
    width: 10rem;
    display: inline-block;
} */

.big-btn {
    font-size: 2rem;
}

/* Image slider */
#sync2 .item .thumbnail{
    width: 15rem;
    height: 10rem;
}

.price-container{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
    font-size: 1.8rem;
}

.price-text {
    margin-top: 1rem;
    width: 10rem;
    display: inline-block;
}

/* Quantity */
.qty {
    width: 5rem;
    opacity: 1;
}

/* Owl */
.main-img {
    height: 100%;
}

#sync1 .item {
    text-align: center;
    height: 45rem;
}

#sync2 .item {
    text-align: center;
    cursor: pointer;
}

#sync2 .current .item {
    border: 0.2rem solid #DC3545;
}

.owl-theme .owl-nav [class*='owl-'] {
    /*default owl-theme theme reset .disabled:hover links */
    transition: all .3s ease;
}

/* Content */
#desTab .nav-item .nav-link.active {
    background-color: #DC3545;
    color: #FFF;
    height: 100%;
    font-size: 2rem;
    border-radius: 0.8rem 0.8rem 0 0;
}

#desTab .nav-item .nav-link {
    font-size: 1.5rem;
}

#desTabConent {
    border: 0.1rem solid #dee2e6;
}