

/* Customize */
.card {
    border: none;
}

.current-path{
    margin-top: 3rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
}


.current-path li a{
    margin-right: 1rem;
    font-weight: bold;
}

.current-path li a{
    padding: 1rem;
    background-color: rgb(247, 247, 247);
    border-radius: 2.5rem;
}

.product-detail-image-container .owl-stage-outer{
    margin-bottom: 1rem!important;
}

.product-detail-content{
    display: flex;
}

.product-detail-description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail-description-container .product-price-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-price-container .star{
    display: flex;
    gap: .2rem;
}

.product-price-container .star .star--item{
    color: #ff9801;
    font-size: 1.2rem;
}

.product-detail-description-container .p-4{
    padding-top: 0!important;
}

.product-price-container .product-price{
    display: flex;
    gap: 1rem;
}

.product-quantity{
    display: flex;
    align-items: center!important;
    gap: 2rem;
}

.quantity-group{
    width: 20.5rem;
    height: 100%;
    border-radius: var(--border-radius);
    border: 2px solid #ebebeb;
}
.product-quantity .quantity-group #quantity{
    width: 35%;
    margin: 0;
    background-color: transparent;
}

.product-quantity .quantity-group #quantity,
.product-quantity .quantity-group .btn-number{
    padding: 1rem 0;
}

.product-quantity .quantity-group .btn-number:focus{
    box-shadow: none;
}

.product-quantity .quantity-group .btn-number:hover{
    cursor: pointer;
}


.product-price-container .product-quantity .price-text{
    font-size: 1.8rem;
}
/* .product-price-container .product-quantity input{
    align-items: c;
} */

.product-detail-description-container .product-price-container .product-sale-price {
    color: var(--sub-color);
    font-weight: 700;
    font-size: 2.5rem;
}

.product-detail-description-container .product-price-container .product-real-price{
    text-decoration: line-through;
    font-weight: 500;
    color: #6c757d;

}

.product-detail-description-container .product-price-container .discount{
    background-color: #DC3545;
    color: #fff;
    font-size: 1.8rem;
    padding: .3rem;
    border-radius: .5rem;
}
.product-detail-description-container .product-price-container div{
    display: flex;
    align-items: flex-end;
}


.product-detail-description-container .product-action-container{
    display: flex;
    gap: 2rem;
}

.product-detail-description-container .product-action-container .btn-favortie{
    background-color: #DC3545;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    color: white;
    border-radius: 0.5rem;
}

.product-detail-description-container .product-action-container .btn-add-to-cart{
    background-color: var(--back-color);
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    border-radius: 0.5rem;
    color: white;
}

.product-detail-description-container .product-action-container .btn-favortie:hover{
    background-color: rgb(186, 27, 27);
}

.product-detail-description-container .product-action-container .btn-add-to-cart:hover{
    background-color: var(--hover-color);
}

.row.product-detail-nav-container{
    padding-left: 0;
    padding-right: 0;
    border: 0.1rem solid var(--back-color);
    border-radius: 0.5rem;
}

/* .product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.product-info-group{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.nav-tabs.product-detail-navbar{
    /* border: 0.1rem solid var(--back-color); */
    background-color: var(--back-color);
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    height: 4.1rem;
}

.nav-item.product-detail-nav-item{
    font-weight: bold; 
}

.nav-item.product-detail-nav-item button{
    background-color: var(--back-color);
    color: white;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    height: 4.1rem;
}
.row.product-detail-nav-container .product-detail-nav-content{
    /* border-bottom: 0.1rem solid var(--back-color);
    border-left: 0.1rem solid var(--back-color);
    border-right: 0.1rem solid var(--back-color); */
    border-radius: 0 0 0.5rem 0.5rem;
}

.product-detail-description-container .product-detail-sale-policy{
    margin-top: 2rem;
    border-radius: var(--border-radius);
    padding: 1.6rem;
    background-color: rgb(247, 247, 247);
    border: 1px dotted var(--back-color);
    border-style: dashed;
}

.product-detail-sale-policy .sale-policy-item{
    margin-top: 1rem;
}

.product-detail-sale-policy .sale-policy-item svg{
    color: var(--back-color);
    margin-right: 1rem;
}

.product-detail-description-container .product-detail-sale-policy h3:last-of-type{
    margin-top: 2rem;
}

.tab-content.product-detail-nav-content{
    padding: 3rem;
}

.tab-content.product-detail-nav-content p{
    line-height: 1.5;
    margin-bottom: .5rem;
}

.tab-content.product-detail-nav-content img{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.tab-content.product-detail-nav-content h2,
.tab-content.product-detail-nav-content h3{
    margin-bottom: .5rem;
}

.tab-content .des-wrap{
    overflow: hidden;
    position: relative;
}

.tab-content .des-wrap .gradient{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.about {
    font-size: 1.6rem;
}

.color {
    margin-bottom: 1.6rem;
}

.btn-lg{
    font-size: 2rem;
}

.cart i {
    margin-right: 1rem;
}

/* Image slider */
.hover-img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    cursor: pointer;
}

#sync2 .thumbnail{
    width: 10rem;
    height: 10rem;
}

#sync2 .owl-item.current img{
    
    border-radius: var(--border-radius);
}

#sync2 .owl-item.current .thumbnail{
    border: 0.1rem solid #1d3ff2a3;
    
    border-radius: var(--border-radius);
}



.price-container{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
    font-size: 1.8rem;
}



/* Quantity */
.qty {
    width: 5rem;
}

/* Owl */
.main-img {
    height: 100%;
}
#sync1 .owl-stage-outer{
    border: 0.1rem solid #1d3ff2a3;
    border-radius: var(--border-radius);
}

#sync1 .item {
    color: #FFF;
    text-align: center;
    height: 40rem;
}

#sync2 .item {
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

#sync2 .current .item {
    border: 0.2rem solid #DC3545;
}

.owl-theme .owl-nav [class*='owl-'] {
    /*default owl-theme theme reset .disabled:hover links */
    transition: all .3s ease;
}

/* add to cart modal */
#addToCartModal .modal-dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#addToCartModal .modal-content{
    padding: 1rem;
    border-radius: var(--border-radius);
    width: 40rem;
}

#addToCartModal .modal-body,
#addToCartModal .modal-footer
{
    display: flex;
    justify-content: center;
}

#addToCartModal .modal-body{
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

#addToCartModal .modal-body .icon{
    width: 6rem;
    margin-bottom: 2rem;
}

#addToCartModal .modal-body p{
    font-weight: 600;
}

#addToCartModal .modal-footer
{
    border: none;
}
#addToCartModal .modal-footer button
{
    background-color: var(--back-color);
    border: none;
    color: var(--main-color);
    padding: 1rem;
    border-radius: var(--border-radius);
}

/* Review section */
.review-card {
    border: 0.1rem solid #e5e5e5;
    margin: 1rem;
    transition: transform .2s ease;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0 0 0;
}

/* .review-card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transform: scale(1.05);
} */

.review-card .review-header {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}

.review-card .info-container{
    display: grid;
    row-gap: 0.5rem;
}

.review-card .avatar-container {
    height: 6rem;
    display: flex;
    align-items: center;
}

.review-card .avatar {
    height: 100%;
    border-radius: 50%;
}

.review-card .card-title {
    font-size: 2rem;
}

.review-card .star,
.review-card .card-text {
    margin-bottom: 0.5rem;
    margin-left: auto;
}

.review-card .star .review-score {
    color: #ff9801;
    font-size: 1.5rem;
}

/* User self rating */
.self-review-container {
    text-align: center;
    gap: 2rem;
    background-color: var(--back-color);
    border-radius: 0.5rem;
    color: var(--main-color);
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.rating {
    text-align: center;
    direction: rtl;
    padding-top: 0.5rem;
}

.rating:not(:checked) > input {
    position: absolute;
    display: none;
}

.rating:not(:checked) > label {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #ccc;
    width: 3rem;
    font-size: 2.5rem;
}

.rating:not(:checked) > label::before {
    /* content: '★'; */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
}

.rating > input:checked ~ label {
    color: #ff9801;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #f7a62d;
}

/* Rating - comment section */
.self-comment input {
    padding: 0.2rem;
}

.self-comment textarea {
    border: 1px solid #888;
    border-radius: 0.5rem;
    width: 100%;
    min-width: 30rem;
    padding: 0.5rem 0 0 0.5rem;
}

.self-comment {
    display: inline-flex;
    position: relative;
    align-items: start;
    gap: 0.5rem;
}

.self-comment input[type='submit'] {
    height: 5.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: #ff9801;
}

.read-more{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.read-more button{
    background-color: var(--main-color);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0.1rem solid var(--sub-color);
    color: var(--sub-color);
    border-radius: var(--border-radius);
}

.read-more button:hover{
    cursor: pointer;
}
.related-products{
    margin-top: 2rem;
    padding: 0;
}

.related-products .title{
    
    font-size: 1.8rem;
    width: 100%;
    background-color: var(--back-color);
    padding: 1.105rem 2rem;
    font-weight: 500;
    color: var(--main-color);
    border-radius:  .5rem .5rem 0 0;
}

.related-products .content{
    display: flex;
    border-radius: 0 0 .5rem .5rem;
    border: 0.1rem solid var(--sub-color);
    padding: 2rem;
    flex-wrap: wrap;
}

.related-products .content .product-item--col{
    width: calc((100% / 5));
}

@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .related-products .content .product-item--col{
        width: calc((100% / 4));
    } 
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    #sync2 .thumbnail {
        width: 8rem;
        height: 8rem;
    }
    .related-products .content .product-item--col{
        width: calc((100% / 3));
    } 
}

@media screen and (min-width: 468px) and (max-width: 767.98px){
    .related-products .content .product-item--col{
        width: calc((100% / 2));
    } 
    .current-path .breadcrumb{
        height: 10rem;
    }
}

@media screen and (max-width: 499.75px){

    .product-item .product-desc h4{
        height: 3.7rem;
    }
    .related-products .content .product-item--col{
        width: 100%;
    } 
    .current-path .breadcrumb{
        height: 10rem;
    }
}
@media screen and (max-width: 421.75px){
    .current-path li a{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 385.75px){
    .current-path li a{
        font-size: 1.2rem;
    }
}