.order-section {
  padding: 4rem 2rem 2rem 2rem;
}

.order-section .table-title {
  padding: 1rem;
  margin: 0 0 1rem;
  min-width: 100%;
  background: var(--back-color);
  color: var(--main-color);
  margin-bottom: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.order-section .table-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.btn-sort-order button,
.btn-sort-order ul {
  background-color: var(--main-color);
  font-size: 1.8rem;
  border-radius: var(--border-radius);
}

.btn-sort-order .dropdown-menu {
  padding: 0;
  border-radius: var(--border-radius);
}

.btn-sort-order ul a {
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 1rem;
}

.btn-sort-order ul a:last-child {
  border-bottom: none;
}

.btn-sort-order ul a:hover {
  background-color: var(--hover-color);
  color: var(--main-color);
}

.btn-sort-order ul a:last-child:hover {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.btn-sort-order ul a:first-child:hover {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.order-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border: 0.1rem solid var(--back-color);
  font-size: 2rem;
}

.order-table thead tr,
.order-table tbody tr {
  height: 5rem;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.order-table tbody tr {
  height: 8rem;
}

.order-table tbody tr>* {
  padding: 0 2rem 0 2rem;
}

.order-table tbody tr td:last-child {
  padding: 0;
}

.order-table tbody tr:hover>*,
.order-table tbody tr:hover td:first-child,
.order-table tbody tr:hover td:last-child {
  background-color: #f0eff1;
}

.order-table td a {
  color: var(--sub-color);
}

.order-table td button {
  background: none;
}

.order-table td button.approve {
  color: var(--approved-color);
}

.order-table td button.delete {
  color: var(--failed-color);
}

.hint-text {
  float: left;
  margin-top: 0.5rem;
  font-size: 95%;
}

/* Responsive */
.order-table tr th:first-child,
.order-table tr td:first-child,
.order-table tr th:last-child,
.order-table tr td:last-child {
  position: -webkit-sticky;
  position: sticky;
  background: var(--main-color);
}

.order-table tr th:first-child,
.order-table tr td:first-child {
  left: 0;
}

.order-table tr th:last-child,
.order-table tr td:last-child {
  right: 0;
}

@media screen and (max-width: 1500px) {
  .order-table {
    border-left: none;
    border-right: none;
  }

  .order-table tr th:first-child,
  .order-table tr td:first-child {
    border-right: solid 0.1rem var(--back-color);
  }

  .order-table tr th:last-child,
  .order-table tr td:last-child {
    border-left: solid 0.1rem var(--back-color);
  }
}