/* For Mobile */
@media screen and (max-width: 767.98px) {


    .header .container {
        padding-right: 2rem;
    }

    .header-main {
        gap: 2rem;
        padding: 1rem 0 !important;
    }

    .header .header-main .header-logo{
        width: 40%;
    }

    .header .header-main .header-logo img:first-child{
        display: block;
    }
    .header .header-main .header-logo img:last-child{
        display: none;
    }

    .header-control .login {
        display: none;
    }

    .menu-main {
        display: none;
    }

    .main-content .menu-category {
        display: none;
    }

    .main-content .banner-content {
        width: 100%;
    }

    .main-content .banner-content .slogan {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* align-items: center; */
    }

    .main-content .slogan .slogan-content__item {
        justify-content: center;
    }

    .header-control .cart-number {
        top: 0%;
        right: -30%;
    }

    .header-control .icon {
        font-size: 6rem;
    }

    .header-control .text {
        display: none;
    }

    .header-search button {
        padding: 0.9rem;
    }

    .promotion-main .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .product-main .product-main-wrap {
        display: inline-block;
        width: 100%;
    }

    .product-main .product-main-wrap .selling,
    .product-main .best-selling {
        width: 100%;
    }

    .product-main .product-main-wrap .best-selling {
        margin-bottom: 2rem;
    }

    .product-main .product-item--col {
        width: calc((100% / 2) - 2.5rem);
        ;
    }

    .nav__mobile__bottom {
        display: flex;
    }

    /* hint result */
    .ui-widget.ui-widget-content{
        left:15%!important;
    }



}

/* for mobile minumum */
@media screen and (max-width: 459.75px) {
    .product-main .product-item--col {
        width: 100%;
    }

    .nav__mobile__bottom {
        display: flex;
    }
    .ui-widget.ui-widget-content {
        left: 50%!important;
        transform: translateX(-50%);
    }
}

/* For tablet medium */

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .nav__mobile__bottom {
        display: flex;
    }

    .menu-main .menu-main__item.menu-bar-tablet {
        display: block;
    }

    .main-content .menu-category {
        display: none;
    }

    .main-content .banner-content {
        width: 100%;
    }

    .product-main .product-main-wrap {
        flex-direction: column;
    }

    .product-main .product-main-wrap .best-selling,
    .product-main .product-main-wrap .selling {
        width: 100%;
    }

    .product-main .product-main-wrap .best-selling {
        margin-bottom: 2rem;
    }

    .product-main .product-item--col {
        width: calc((100% / 2) - 2.5rem);
        ;
    }
    .ui-widget.ui-widget-content {
        left: 50%!important;
        transform: translateX(-50%);
    }
    
}

@media screen and (min-width: 468px) and (max-width: 767.98px){
    .product-main .best-selling .best-selling__content{
        flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
    }
    .ui-widget.ui-widget-content {
        left: 50%!important;
        transform: translateX(-50%);
    }
}


/* For tablet extra */

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .header .header-main {
        gap: 1rem;
    }

    .header-control {
        width: 70%;
    }
    .header .header-control{
        gap:0;
    }

    .header-control .login {
        display: none;
    }

    .header .header-main .header-logo{
        width: 44%;
    }
    .header-search button{
        padding: .9rem 1.5rem;
    }

    .header-control .text{
        font-size: 1.4rem;
    }
    .ui-widget.ui-widget-content {
        left: 50%!important;
        transform: translateX(-50%);
    }
    
    
}



@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .menu-main {
        display: flex;
    }

    .menu-main .menu-bar-tablet {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .menu-main .menu-bar-tablet:hover {
        cursor: pointer;
        background-color: var(--back-color) !important;
    }

    .main-content .menu-category {
        display: none;
    }

    .main-content .banner-content {
        width: 100%;
    }

    .product-main .product-main-wrap {
        flex-direction: column;
    }

    .product-main .product-main-wrap .best-selling,
    .product-main .product-main-wrap .selling {
        width: 100%;
    }

    .product-main .product-main-wrap .best-selling {
        margin-bottom: 2rem;
    }

    .product-main .best-selling .best-selling__content {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 2rem;
    }

    .product-main .product-item--col {
        width: calc((100% / 2) - 2.5rem);
        /* border: 0.1rem solid var(--sub-color); */
    }

}
@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .header .header-main{
        gap: 0 1rem;
    }

    .header .header-search{
        max-width: 35rem;
    }

    .header-search button{
        padding: 0.9rem 2rem;
    }

    .product-main .best-selling .best-selling__content{
        justify-content: flex-start;
        --column: 3;
        --gap: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--gap));
        margin-bottom: calc(-1 * var(--gap));
        gap: 0;
    }
    .product-main .product-item--col{
        --column: 3;
        --gap: 20px;
        width: calc((100% / var(--column)) - var(--gap));
        margin-left: var(--gap);
        margin-bottom: var(--gap);
    }
    .product-main .selling .tab-pane{
        column-gap: 0;
    }
}

/* For tablet larger */

/* @media screen and (min-width: 992px) and  (max-width: 1199.98px){
    .menu-main{
        display: flex;
    }

    .menu-main .menu-main__item.menu-bar-tablet{
        display: ; e
    }

    .main-content .menu-category{
        display: none;
    }

    .main-content .banner-content{
        width: 100%;
    }
} */