:root {
    --main-color: #fff;
    --sub-color: #015C92;
    --back-color: #203e8f;
    --hover-color: #0b1768;
    --border-radius:1rem;
    --failed-color: #f94749;
    --pending-color: #ff9801;
    --approved-color: #079376;
    --success-color: #3B63AF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}

.bestgear-button{
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--back-color);
    color: var(--main-color);
}

.bestgear-button:hover{
    background-color: var(--hover-color);
}

/* HEADER */
.header {
    border-bottom: 1px solid #dadaef;
}

.header .header-main {
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-main .header-logo{
    width: 15%;
}
.header .header-main .header-logo img:first-child{
    display: none;
}
.header .header-main .header-logo img:last-child{
    display: block;
}

.header .header-search {
    width: 100%;
    height: 4rem;
    max-width: 50rem;
}

.header-search form,
.header-search form .input-group {
    height: 100%;
}

.header-search input,
.header-search button {
    line-height: 1;
    font-size: 1.5rem;
}

.header-search input {
    color: var(--back-color);
    padding: .375rem 2.5rem;
    border: 1px solid var(--back-color);
    border-radius: 0 1.5rem 1.5rem 0;
}

.header-search .form-control:focus {
    box-shadow: none;
}

.header-search button {
    color: var(--main-color);
    padding: .9rem 3.5rem;
    border: 1px solid var(--back-color);
    border-radius: 1.5rem 0 0 1.5rem;
    background-color: var(--back-color)
}

.header-search button:hover {
    border: 1px solid var(--back-color);
    color: var(--sub-color);
    background-color: transparent;
}

.header .header-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2.5rem;
}

.header-control a {
    display: flex;
    align-items: center;
    gap: 0 10px;
    /* padding: 1.5rem 0; */
    color: var(--back-color);
}

.header-control .icon {
    font-size: 3rem;
    line-height: 0;
}

.header-control .text {
    font-size: 1.8rem;
}

.header-control .cart .icon,
.header-control .login {
    position: relative;
}

.header-control .login img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.header-control .cart-number {
    height: 2rem;
    border-radius: 28rem;
    line-height: 2.2rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 7px;
    display: inline-block;
    background-color: #ff9801;
    position: absolute;
    top: -10px;
    right: -8px;
    color: #fff;
}

/* MenuMain */

#nav-input {
    display: none;
}

.menu-main .menu-bar-tablet {
    display: none;
}

.menu-main {
    background-color: var(--back-color);
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
}

.nav__mobile,
.nav__mobile__bottom {
    display: none;
}

.overlay {
    display: none;
}

.menu-main .container {
    display: flex;
    justify-content: space-around;
}

.menu-main .menu-main__item {
    padding: 2rem 0;
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--main-color);
}

.menu-main .menu-main__item:hover {
    background-color: var(--hover-color);
    color: #fff;
    cursor: pointer;
}

/* dropdown info */
.dropdown-info .dropdown-menu, .dropdown-noti {
    border-radius: var(--border-radius);
    background-color: #fff;
}
.dropdown-info .dropdown-toggle .dropdown-noti::after{
    display: none;
}

.dropdown-info button,
.dropdown-noti button
{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--back-color);
    background: transparent;
    padding: 0;
}

.dropdown-info button:focus,
.dropdown-noti button:focus{
    box-shadow: none;
    outline: none;
}
.dropdown-info button:hover,
.dropdown-noti button:hover{
    color: var(--back-color);
}

.dropdown-noti ul{
    border-radius: .5rem;
    box-shadow: 0px 0px 20px 5px rgba(204,204,204,0.56);
-webkit-box-shadow: 0px 0px 20px 5px rgba(204,204,204,0.56);
-moz-box-shadow: 0px 0px 20px 5px rgba(204,204,204,0.56);
}

.dropdown-info .fa-circle-user{
    font-size: 3rem;
}

.dropdown-info .dropdown-item{
    font-size: 1.8rem;
    padding: 2rem;
    color: var(--back-color);
}
.dropdown-info .dropdown-item:hover{
    cursor: pointer;
    color: var(--hover-color);
    background-color: #f8f9fa;
}

.dropdown-info li:first-child{
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.dropdown-info li:last-child{
    border-radius: 0 0 var(--border-radius) var(--border-radius) ;
}

/* Dropdown noti */
.dropdown-noti .dropdown-menu {
    border-radius: var(--border-radius);
    padding: 0;
}

.dropdown-noti .dropdown-menu .item-container {
    max-height: 50rem;
    overflow-y: auto;
}

.dropdown-noti .dropdown-menu .empty-notification{
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
    opacity: 0.6;
}

.dropdown-noti .dropdown-menu li {
    border-bottom: solid 0.1rem #efefef;
}

.dropdown-noti .dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-noti .dropdown-menu .noti-control {
    border-bottom: none;
    display: flex;
    justify-content: center;
    border-top: solid 0.1rem #efefef;
}

.dropdown-noti img {
    height: 10rem;
}

.dropdown-noti .dropdown-item {
    font-size: 1.8rem;
    color: var(--back-color);
}

.dropdown-noti .dropdown-item:hover {
    background-color: #efefef;
}

.dropdown-noti .dropdown-item .order-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dropdown-noti .state-success {
   color: var(--success-color);
}

.dropdown-noti .state-approve {
    color: var(--approved-color);
}

.dropdown-noti .state-pending {
    color: var(--pending-color);
}

.dropdown-noti .state-failed {
    color: var(--failed-color);
}

.dropdown-noti .icon .fa-shake {
    color: var(--pending-color);
}

.dropdown-noti .noti-control button {
    background: none;
    padding: 1.5rem 0 1.5rem 0;
}

.dropdown-noti .empty-noti {
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 25rem;
    width: 30rem;
    text-align: center;
    gap: 3rem;
}

/* Toast */
.noti-toast {
    font-size: 2.3rem;
    display: flex;
    border-left: 1.5rem solid var(--approved-color);
    border-radius: var(--border-radius);
    width: 100%;
    height: 8rem;
}

.noti-toast .toast-body {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.noti-toast button {
    font-size: 1rem;
}

.noti-toast .fa-bell {
    color: var(--approved-color);
}

/* Main content */

.main-content .container {
    display: flex;
    justify-content: space-between;
    gap: 0 1rem;
    margin-top: 1rem;
}

.main-content .menu-category {
    border: 0.1rem solid var(--sub-color);

    border-radius: var(--border-radius);
    width: 25%;
}

.main-content .banner-content {
    display: flex;
    flex-direction: column;
    width: calc(75% - 1rem);
}

.main-content .slider-content {
    display: flex;
}



.main-content .banner-content img {
    width: 100%;
    border-radius: var(--border-radius);
}

.main-content .banner-content .slogan,
.main-content .slogan .slogan-content__item {
    display: flex;
}

.main-content .banner-content .slogan {
    justify-content: space-between;
    margin-top: 1.5rem;
    flex: 1;
    gap: 1rem;
}

.main-content .slogan-content__item .icon-item {
    font-size: 3rem;
}

.main-content .slogan-content__item p {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
}

.main-content .slogan .slogan-content__item {
    padding: 3rem 4.5rem;
    /* border: 0.1rem solid var(--sub-color); */
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    cursor: pointer;
    gap: 0 2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-content .slogan .slogan-content__item:nth-child(1){
    background-image: url(/assets/img/background_slogan.png);
}

.main-content .slogan .slogan-content__item:nth-child(2){
    background-image: url(/assets/img/background_slogan2.png);
}

.main-content .slogan .slogan-content__item:nth-child(3){
    background-image: url(/assets/img/background_slogan3.png);
}

.main-content .menu-category .menu-category__title {
    background-color: var(--back-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: var(--main-color);
    text-align: center;
    border: 0.1rem solid var(--sub-color);
}

.main-content .menu-category .menu-category__title,
.main-content .menu-category .menu-category__item {
    padding: 2rem 3rem;
    font-weight: bold;
}

.main-content .menu-category .menu-category__item {
    display: flex;
    gap: 0 1rem;
    border-bottom: 0.1rem dotted var(--back-color);
    margin: 0 2rem;
}

.menu-category .menu-category__item p {
    margin: 0;
}

.main-content.menu-category__item :last-child~a  {
    padding-bottom: 0!important;
}

.main-content .menu-category .menu-category__item:hover {
    cursor: pointer;
    color: var(--sub-color);
}


/* promotion */
.promotion-main .container,
.promotion-main .promotion-main__item {
    display: flex;
}

.promotion-main {
    margin: 2rem;
}

.promotion-main .container {
    justify-content: space-around;
    gap: 1rem;

}

.promotion-main .promotion-main__item {
    border-radius: var(--border-radius);
    align-items: center;
    border: 0.1rem solid var(--main-color);
    font-size: 2rem;
    padding: 2rem;
    gap: 0 2rem;
    color: #fff;
    background: #3a98d1;
    background: linear-gradient(90deg,#3a98d1 0%, #0b1768 100%);
    background: -webkit-linear-gradient(90deg,#3a98d1 0%, #0b1768 100%);
    background: -moz-linear-gradient(90deg,#3a98d1 0%, #0b1768 100%);
}

.promotion-main .promotion-main__item p {
    margin: 0;
}

/* products */
.product-main .product-main-wrap {
    display: flex;
    gap: 0 2rem;
}



.product-main .best-selling {
    width: 30%;
    border: 0.1rem solid var(--sub-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.product-main .best-selling .best-selling__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}


.product-main .best-selling .title {
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem;
    border-bottom: 0.1rem solid var(--sub-color);
    margin-bottom: 0;
    background-color: var(--back-color);
    color: var(--main-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.product-item {
    display: flex;
    padding: 2rem;
    gap: 0 2rem;

}



.product-item .product-desc h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    height: 3.8rem;
}

.product-item:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.product-item:hover {
    /* background-color: var(--hover-color); */
    transform: scale(1.05);
    cursor: pointer;

}



.product-item .thumbnail {
    width: 14rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    /* background-color: #ebebeb; */
    border: 1px solid #ebebeb;
    position: relative;
    display: flex;
    justify-content: center;
}

.product-item .thumbnail img{
    width: 11.8rem;
    height: 11.8rem;
}

.product-item .product-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}


.product-item .product-desc .buy-now{
    font-size: 1.5rem;
    padding: 1rem .5rem;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: var(--sub-color);
    border: 0.1rem solid var(--sub-color);
    width: 60%;
}

.product-item .product-desc .buy-now:hover{
    background-color: var(--back-color);
    color: var(--main-color);
    transition: all 0.5s ease 0s;
}

.product-item .product-desc .star-comment {
    color: #ff9801;
    font-size: 1.4rem;
}

.product-item .product-desc .product-price {
    color: #076db1;
}


.product-item .thumbnail .discount,
.product-item .thumbnail .icon-action {
    position: absolute;
}

.product-item .thumbnail .icon-action {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 70%;
    z-index: 2;
    transition: all .5s ease 0s;
}

.thumbnail .icon-action .icon-action__item {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background-color: #fff;
    transform: rotate(0deg);
    position: relative;
    top: 5rem;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sub-color);
}

.thumbnail .icon-action .icon-action__item:hover {

    transform: rotate(360deg);
}

.product-item .thumbnail .discount {
    background-color: rgb(253, 80, 76);
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 50%;
    font-size: 1.8rem;
    padding: 1rem;
    top: -1rem;
    right: -1rem;
}

.product-item .product-price {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.product-item .product-price .true-price {
    text-decoration: line-through;
    font-size: 1.2rem;
    color: #ccc;
}



.product-item--col:hover {
    transition: all 0.5s ease 0s;
    /* box-shadow: 10px 8px 10px 3px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-item--col:hover .thumbnail::after {
    display: inline-block;
    width: 100%;
    height: 50%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    transition: all .5s ease 0s;
}

.product-item--col:hover .icon-action__item {
    top: 0;
    opacity: 1;
}



.product-item--col:hover .icon-action__item:nth-child(1) {
    transition: all .5s ease .1s;
}

.product-item--col:hover .icon-action__item:nth-child(2) {
    transition: all .5s ease .15s;
}

.product-item--col:hover .icon-action__item:nth-child(3) {
    transition: all .5s ease .2s;
}

.product-item--col {
    flex-direction: column;
    width: calc((100% / 3) - 2.5rem);
    flex-wrap: nowrap;
    align-items: center;
    /* border: 0.1rem solid var(--back-color); */
    border-radius: var(--border-radius) !important;
}


.product-item--col .thumbnail {

    width: 17.7rem !important;
    margin: 0 auto;
}

.product-item--col .thumbnail img{
    width: 15.5rem;
    height: 15.5rem;
}

.product-item--col .product-desc {
    gap: 1rem 0;
    margin-top: 2rem;
    width: 17.7rem;
}



.product-main .selling {
    width: 70%;
    width: 70%;
    border: 1px solid var(--sub-color);
    border-radius: var(--border-radius);
}

.product-main .selling .nav-pills {
    width: initial;
    background-color: var(--back-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: 0.1rem solid var(--sub-color);
    line-height: 1.2;
}

.product-main .selling .nav-link {
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--main-color);
    border-radius: 0;
    width: 13.4rem;
}

.product-main .selling .tab-content {
    padding: 2rem;
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
}

.product-main .more{
    position: absolute;
    top: 48%;
    bottom: 50%;
    font-size: 2rem;
    font-weight: 600;
    background-color: #f8f9fa;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all .5s ease .2s;
}

.product-main .selling .more{
    display: flex;
}

.product-main .best-selling .best-selling__content:hover 
.more{
    display: flex;
}

.product-main .more.more__right{
    right: 2rem;
}

.product-main .more.more__left{
    left: 2rem;
}

.product-main .more:hover{
    cursor: pointer;
    background-color: #e9ecef
}

.product-main .selling .tab-pane {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
}

.product-main .selling .tab-pane.active {
    display: flex !important;
}

.selling .active.nav-link {
    background-color: var(--hover-color);
    color: #fff;
}

/* nav mobile */
.nav__mobile {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 39rem;
    max-width: 100%;
    background-color: #fff;
    color: #000;
    z-index: 999;
    box-shadow: 7px 1px 8px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 7px 1px 8px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 7px 1px 8px 0px rgba(0, 0, 0, 0.43);
    transform: translateX(-105%);
    transition: all linear .3s;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 998;
    display: none;
    animation: fadeIn linear .2s;
}

.nav__mobile .close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: #ccc;
    z-index: 10000;
}

.nav__mobile label:hover {
    cursor: pointer;
    color: var(--sub-color);
}

.nav__mobile .nav__content {
    padding: 2rem;
    position: relative;
}

.nav__mobile .nav__content .branch {
    width: 40%;
}

.nav__mobile .nav__content .user {
    display: flex;
    margin: 3rem 0;
    gap: 0rem 2rem;
    align-items: center;
}

.nav__mobile .user .user__logged{
    width: 100%;
}



.nav__mobile .user .login:hover,
.nav__mobile .user .register:hover,
.nav__mobile .user b:hover,
.nav__mobile .user .sign-out:hover {
    color: var(--sub-color);
    cursor: pointer;
}

.nav__mobile .user .sign-out {
    color: #999;
    font-size: 2rem;
}

.nav__mobile .nav__content .login,
.nav__mobile .nav__content .register,
.nav__mobile .nav__content .logged {
    display: flex;
    gap: 0rem 1rem;
    justify-content: space-between;
    margin-right: 2rem;
}

.nav__mobile .nav__content .logged {
    align-items: center;
}

.nav__mobile .nav__content .logged-purchased{
    color: var(--sub-color);
    font-style: italic;
}

.nav__mobile .logged .logged__info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__mobile .logged img {
    width: 5rem;
    border-radius: 50%;
}

.nav__mobile .logged p {
    font-size: 2rem;
}

.nav__mobile .menu-category .menu-category__title {
    font-size: 2rem;
    margin: 1rem 0;
}

.nav__mobile .menu-category a {
    display: flex;
    gap: 0rem 1rem;
    padding: 1rem;
}

.nav__mobile .menu-category a:hover,
.nav__mobile .nav_navbar li:hover {
    color: var(--sub-color);
}

.nav__mobile .nav_navbar .nav_navbar__title {
    font-size: 2rem;
}

.nav__mobile .nav_navbar li {
    padding: 1rem;
}

/* nav bottom */
.nav__mobile__bottom {
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    color: var(--main-color);
    font-size: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    /* height: 5rem; */
    padding: 1rem 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-shadow: 0px -2px 5px 0px rgba(254, 98, 110, 0.2);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(254, 98, 110, 0.2);
    -moz-box-shadow: 0px -2px 5px 0px rgba(254, 98, 110, 0.2);


}

.nav__mobile__bottom .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #999;
    gap: .5rem;
}

.nav__mobile__bottom .item.active {
    color: var(--sub-color);
    transform: scale(1.15);

}

.nav__mobile__bottom .item:hover {
    cursor: pointer;
    color: var(--sub-color);
}

#nav-input {
    display: none;
}

#nav-input:checked~.overlay {
    display: block;
}

#nav-input:checked~.nav__mobile {
    transform: translateX(0);
    transition: all .5 linear 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*--------------------Footer--------------------*/
footer {
    margin-top: 10rem;
    background-color: lightgray;
}
footer .footer-social-media{
    /* padding-left: 3rem;
    padding-right: 3rem; */
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    bottom: 0;
    background-color: lightgray;
    color: grey;
    height: 7.2rem;
    width: 100%;
    text-align: center;
    align-items: center;
    
}

footer .footer-icon-container{
    display: flex;
    column-gap: 0.5rem;
}

footer .footer-social-media-icon{

    color: grey;
}

footer .footer-info{
    display: flex;
    justify-content: space-around;
    color: grey;
    padding: 3rem 0 3rem 0;
    border-top: 0.1rem solid rgb(135, 135, 135);
    line-height: 2.5rem;
}

footer .footer-info h4,
footer .footer-info h3{
    color: #000;
}

footer .footer-info .footer-info-company h4{
    margin-top: 1rem;
}

footer .footer-info a{
    color: grey;
}

footer .footer-info a:hover{
    text-decoration: underline;
}

footer .footer-copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 7.2rem;
    background-color: black;
    color: white;
    align-items: center;
}

footer .footer-copyright a{
    color: white;
}

footer .footer-copyright a:hover{
    text-decoration: underline;
}

@media(max-width: 990px){
    footer .footer-social-media{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    footer .footer-info{
        display: block;
        align-items: center;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    footer .footer-info h4{
        margin-top: 2rem;
    }
}
/*--------------------Footer end here--------------------*/
.ui-menu{
    border-radius: .5rem;
    margin-top: 0.2rem!important;
}
.ui-autocomplete .ui-menu-item{
    line-height: 100%;
}

.ui-autocomplete .ui-menu-item:last-child div{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-style: italic;
    color: #adb5bd;
    border-top: 0.1rem dotted #adb5bd;;

}
.ui-menu .ui-menu-item-wrapper{
    padding: 1rem!important;
    gap: 1rem;
}
.ui-menu .ui-menu-item-wrapper:hover{
    cursor: pointer;
    color: var(--hover-color);
    background-color: #f8f9fa!important;
    border: none;
}
.ui-widget.ui-widget-content{
    margin-top: 0.4rem!important;
}
.item-autocomplete-wrap{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.item-autocomplete-wrap img{
    width: 6rem;
    height: 6rem;
}
.ui-widget.ui-widget-content{
    width: 50rem!important;
    max-width: 100%;
    box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.71);
-webkit-box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.71);
-moz-box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.71);
border: none;
}
.ui-menu-item:last-child .item-autocomplete-wrap img{
    display: none;
}
