{{#section 'title'}}
<title>Lịch sử mua hàng - BestGear</title>
{{/section}}
<div class="purchased_history_conainer">
    <div class="container">
        <div class="purchased_history">
            <h1 class="title">Lịch sử mua hàng</h1>
            <div class="search">
                <input type="text">

                <div class="icon-search"><i class="fa-solid fa-magnifying-glass"></i></div>
                <button class="btn-search">
                    Tìm đơn hàng
                </button>
            </div>
            <div class="purchased_list">
                <div class="purchased-item">
                    <div class="header">
                        <div class="delivery-success"><i class="fa-solid fa-truck"></i> Giao hàng thành công</div>
                        <div class="code">
                            Mã đơn hàng: <b>922959672</b>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#" class="content-item">
                            <div class="thumb">
                                <img src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                                    alt="">
                                <div class="quantity">X1</div>
                            </div>
                            <div class="info">
                                <div class="name">Ghế DXRACER - Drifting
                                    Series OH/DJ133/NR</div>
                                <div class="branch"><i class="fa-solid fa-store"></i> BestGear Company</div>
                            </div>
                            <div class="price">10000000</div>
                        </a>
                        <a href="#" class="content-item">
                            <div class="thumb">
                                <img src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                                    alt="">
                                <div class="quantity">X1</div>
                            </div>
                            <div class="info">
                                <div class="name">Ghế DXRACER - Drifting
                                    Series OH/DJ133/NR</div>
                                <div class="branch"><i class="fa-solid fa-store"></i> BestGear Company</div>
                            </div>
                            <div class="price">10000000</div>
                        </a>
                        <a href="#" class="content-item">
                            <div class="thumb">
                                <img src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                                    alt="">
                                <div class="quantity">X1</div>
                            </div>
                            <div class="info">
                                <div class="name">Ghế DXRACER - Drifting
                                    Series OH/DJ133/NR</div>
                                <div class="branch"><i class="fa-solid fa-store"></i> BestGear Company</div>
                            </div>
                            <div class="price">10000000</div>
                        </a>
                        <a href="#" class="content-item">
                            <div class="thumb">
                                <img src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                                    alt="">
                                <div class="quantity">X1</div>
                            </div>
                            <div class="info">
                                <div class="name">Ghế DXRACER - Drifting
                                    Series OH/DJ133/NR</div>
                                <div class="branch"><i class="fa-solid fa-store"></i> BestGear Company</div>
                            </div>
                            <div class="price">10000000</div>
                        </a>
                    </div>
                    <div class="footer">
                        <div class="total-price">Tổng tiền: <b>100.000.000đ</b></div>
                        <button class="btn-repurchase">
                            Mua lại
                        </button>
                    </div>
                </div>
                <div class="purchased-item">
                    <div class="header">
                        <div class="delivery-success"><i class="fa-solid fa-truck"></i> Giao hàng thành công</div>
                        <div class="code">
                            Mã đơn hàng: <b>922959672</b>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#" class="content-item">
                            <div class="thumb">
                                <img src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                                    alt="">
                                <div class="quantity">X1</div>
                            </div>
                            <div class="info">
                                <div class="name">Ghế DXRACER - Drifting
                                    Series OH/DJ133/NR</div>
                                <div class="branch"><i class="fa-solid fa-store"></i> BestGear Company</div>
                            </div>
                            <div class="price">10000000</div>
                        </a>
                        <a href="#" class="content-item">
                            <div class="thumb">
                                <img src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                                    alt="">
                                <div class="quantity">X1</div>
                            </div>
                            <div class="info">
                                <div class="name">Ghế DXRACER - Drifting
                                    Series OH/DJ133/NR</div>
                                <div class="branch"><i class="fa-solid fa-store"></i> BestGear Company</div>
                            </div>
                            <div class="price">10000000</div>
                        </a>
                        <a href="#" class="content-item">
                            <div class="thumb">
                                <img src="https://storage.googleapis.com/bestgear-355409.appspot.com/62cf524746ce695718e5703d/img2.png"
                                    alt="">
                                <div class="quantity">X1</div>
                            </div>
                            <div class="info">
                                <div class="name">Ghế DXRACER - Drifting
                                    Series OH/DJ133/NR</div>
                                <div class="branch"><i class="fa-solid fa-store"></i> BestGear Company</div>
                            </div>
                            <div class="price">10000000</div>
                        </a>
                    </div>
                    <div class="footer">
                        <div class="total-price">Tổng tiền: <b>100.000.000đ</b></div>
                        <button class="btn-repurchase">
                            Mua lại
                        </button>
                    </div>
                </div>
            </div>
            <div class="pagination-container">
                <a href="#" class="previous-page disable">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#" class="page-number active">1</a>
                <a href="#" class="page-number">2</a>
                <a href="#" class="page-number">3</a>
                <a href="#" class="next-page">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>